#background_section {
  height: 80vh;
  background: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  &__heading {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
  }
  &__content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn_wrapper {
    width: 100%;
    position: absolute;
    bottom: 10px;
  }
  &__btn {
    height: 60px;
    width: 40px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    animation-name: animate-explore-btn;
    animation-iteration-count: infinite;

    animation-duration: 2s;
    img {
      height: 40px;
    }
  }
}

@keyframes animate-explore-btn {
  0% {
    transform: scale(1);
    background-position: left;
  }

  50% {
    transform: scale(1.2);
    background-position-y: -150px;
  }
  100% {
    transform: scale(1);
    background-position: right;

    background-position-y: 250px;
  }
}
