@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap");

$open-sans: "Open Sans";

// colores
$primary-blue: #00629b;
// responsive
$media-sm: 500px;
@mixin media-sm {
  @media (min-width:#{$media-sm}) {
    @content;
  }
}
