.counsellor {
  .card {
    flex-direction: column;
    z-index: -1;
    .card-content {
      p {
        text-align: center;
      }
    }
    @include media-sm {
      flex-direction: row;
    }
  }
  .card-image {
    max-width: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    img {
      margin: auto;
      margin-top: 20px;
      height: 200px;
      width: 200px !important;
      border-radius: 50% !important;
    }
    @include media-sm {
      max-width: 50% !important;
    }
  }
}
