.events {
  z-index: -1;
  padding-top: 93px;
  a {
    font-size: 13px !important;
  }
  &__icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ed4d45;
    border-radius: 50%;
    margin-right: 20px;

    img {
      height: 20px;
    }
  }
  &__wrapper {
    margin-top: 20px;
  }
  .row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
  }
  &__load {
    border: 1px solid;
    width: fit-content;
    margin: auto;
    padding: 3px 15px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    background: #ed4d45;
    border-radius: 13px;
    font-size: 13px;
    text-transform: uppercase;
  }
  @include media-sm {
    padding: unset;
    margin: 40px 0px;
    .row {
      flex-direction: row;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  &__list {
    font-weight: 700;
    list-style: none;
    display: flex;
    text-transform: uppercase;
  }
  .active {
    border-bottom: 3px solid #ed4d45;
    color: #ed4d45;
  }
  &__item {
    margin-right: 20px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.event {
  width: 270px;
  display: flex;
  margin: auto;
  align-items: center;
  img {
    display: none;
    width: 150px;
    flex-shrink: 0;
    height: 180px;
    border-radius: 14px;
    margin-right: 10px;
  }
  &__detail {
    padding-right: 20px;
    font-size: 13px;
    p {
      margin-bottom: 5px;
    }
  }
  &__btn {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 2px 6px;
    font-weight: 700;
    border: 1px solid;
    color: rgb(29, 29, 29);
    border-radius: 4px;
  }
  @include media-sm {
    width: auto;

    img {
      display: block;
    }
  }
}
