.footer {
  &__icons {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100px;
  }

  &__icon {
    background: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 13px;
      filter: invert(1);
    }
  }
}

footer {
  text-align: center;
  background: $primary-blue !important;
}

.footer-copyright {
  font-size: 10px;
}
