.footer {
  &__icons {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100px;
  }

  &__icon {
    background: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 13px;
      filter: invert(1);
    }
  }
}
.footer__list {
  margin-top: 10px;
}

footer {
  text-align: center;
  background: #00283f !important;
  .row {
    @include media-sm {
      display: flex;
    }
  }
}

.footer-copyright {
  font-size: 10px;
}
