.header {
  height: 100vh;
  &__top {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 10%;
    background: $primary-blue;
  }
  &__bottom {
    height: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icons {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon_list {
    display: none;
    list-style: none;
    width: 80px;
    margin-right: 20px;
    justify-content: space-around;
    img {
      height: 15px;
    }
  }
  &__toggler {
    background: white;
    width: 25px;
    height: 2px;
    display: block;
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      width: 64%;
      background: white;
      height: 100%;
      content: "";
      display: block;
      bottom: -5px;
    }
    &::before {
      position: absolute;
      width: 64%;
      background: white;
      height: 100%;
      content: "";
      display: block;
      top: -5px;
    }
  }
  &__brand {
    img {
      height: 30px;
    }
  }
  .active {
    opacity: 0.7;
    &::before {
      width: 100%;
    }
  }

  &__nav {
    position: fixed;
    right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    top: 9%;
    padding-top: 20px;
    width: 225px;
    height: 100%;
    background: $primary-blue;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  @include media-sm {
    .hide_nav {
      right: unset;
    }
    &__top {
      height: 20%;
      position: relative;
    }
    &__bottom {
      height: 80%;
    }

    &__icon_list {
      display: flex;
    }
    &__toggler {
      display: none;
    }
    &__nav {
      position: relative;
      right: 0;
      padding: inherit;
      width: auto;
      height: auto;
      background: transparent;
      z-index: 0;

      padding-bottom: 10px;
    }
  }
}

.hide_nav {
  right: -100%;
}

.nav {
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 15px;
  width: 60%;
  list-style: none;
  &__item {
    position: relative;
    margin-bottom: 20px;

    &:hover {
      .nav__dropdown {
        opacity: 1;
        top: 18px;
      }
    }
  }
  &__link {
    color: white;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-decoration: none;
    position: relative;

    &::before {
      transition-duration: 0.5s;
      width: 0%;
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      background: white;
      bottom: -2px;
    }
    img {
      height: 10px;
      margin-left: 5px;
      padding-top: 2px;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__dropdown {
    opacity: 0;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.469);
    padding: 5px 10px;
    list-style: none;
    border-radius: 5px;
    transition-duration: 0.5s;
    left: -50%;
    width: 100px;
    transition-timing-function: ease-in;
    text-align: center;
    top: 30px;
  }

  &__d-item {
    margin: 6px 0px;
  }
  &__d-link {
    text-decoration: none;
    position: relative;
    color: #00629b;
    &::before {
      transition-duration: 0.5s;
      width: 0%;
      left: 0;
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      background: #00629b;
      bottom: -2px;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
  &__item {
    position: relative;

    &:hover {
      .nav__dropdown {
        opacity: 1;
        top: 18px;
      }
    }
  }

  @include media-sm {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-around;

    &__item {
      margin-bottom: 0px;
    }
  }
}

.comming {
  text-align: center;
}
