.upcoming_events {
  height: 90vh;
  background-color: rgb(236, 236, 246);
  display: flex;

  &__slider {
    overflow: scroll;
    width: 80%;
    margin: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__slide {
    display: flex;
  }
  @include media-sm {
    &__slider {
      overflow: scroll;
      width: 100%;
    }
  }
}

.UE_card.active {
  color: white;
  cursor: pointer;
  background: #00629b;
}

.UE_card {
  flex-shrink: 0;
  font-size: 14px;
  width: 240px;
  margin: 0px 25px;
  color: #292c52;
  padding: 65px 20px;
  background: #f6f6fa;
  &__date {
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 40px;
    span {
      font-size: 20px;
    }
  }
  &__name {
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__mode {
    span {
      font-weight: 600;
    }
    margin-bottom: 10px;
  }
}
.show_event {
  display: flex !important;
}
.event_card {
  position: fixed;
  display: none;
  top: 25%;
  left: 20%;
  width: 60%;
  // display: flex;
  height: 50%;
  align-items: center;
  padding: 10px;
  background: white;
  box-shadow: 0px 0px 5px #00000078;
  border-radius: 3px;

  img {
    flex-shrink: 0;
    margin-right: 10px;
    height: 200px;
    width: 200px;
  }
  &__box {
    font-size: 13px;
  }
  &__name {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}
