:root {
  --primary-blue: #00629b;
  --secondary-blue: #404a7c;
  --black: black;
  --primary-gray: #ececf6;
  --secondary-gray: #f6f6fa;
  --organge: #e87722;
  --red: #ed4d45;
  --white: white;
}

/*
 it is used as

 body{
     color:var(--white);
      
 */
